<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.poly.hailt.project1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.HomeActivity" />
        <activity android:name=".ui.ChooseTopicActivity" />
        <activity android:name=".ui.LearnActivity" />
        <activity android:name=".ui.PlayActivity" />

        <service
            android:name=".BackgroundSoundService"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>